/* OVERRIDE SWIPER SLIDE */
.swiper {
	width: 100%;
	height:100%;
	position: relative;
}

.slide-img{
	width: 100%;
	height: 600px;
}

.content-overlay{
	top: 50%;
	left: 10%;
	transform: translateY(-50%);
	color: rgb(240, 233, 233);
}

.content-overlay .content-title{
	font-size: 46px;
	font-weight: 600;
	line-height: 48px;
}

.content-overlay .content-description{
	text-transform: uppercase;
	font-weight: 700;
}

.content-overlay .content-readmore .btn:hover{
	background-color: transparent;
	color: rgb(240, 232, 232);
	border: unset;
}

.swiper .swiper-pagination{
	width: auto;
	bottom: 20px;
	left: 10%;
}

.swiper-pagination-bullet{
	background-color: aliceblue;
	transition: all 0.3s ease-in-out;
}

.special-offer > .swiper > .swiper-pagination > .swiper-pagination-bullet{
	background-color: rgb(233, 114, 29);
	transition: all 0.3s ease-in-out;
}

.swiper-pagination-bullet-active{
	width: 30px;
	border-radius: 10px;
}

h1, h2, h3, h4, h5, h6{
	margin-bottom: 0;
}

/* OVERRIDE FREEMODE SWIPER SLIDE */
.freemode > .swiper-button-next::after {
	/* font-size: 24px; */
	color: rgb(233, 114, 29);
}

.freemode > .swiper-button-prev::after {
	/* font-size: 24px; */
	color: rgb(233, 114, 29);

}

/* OVERRIDE JQUERY RANGE SLIDER */
.ui-widget.ui-widget-content {
	height: 5px;
	background-color: #000;
}

.ui-slider-horizontal .ui-slider-range {
	background-color: #000;
}

 .ui-widget-content .ui-state-default {
	background-color: rgb(180, 31, 31);
	border-radius: 50px;
	border: unset;
	outline: unset;
	width: 14px;
	height: 14px;
}

/* CUSTOM CLASS */

.self-center{
	justify-self: center;
}

.align-self-end{
	align-self: end;
}

.text-orange{
	color:  rgb(233, 114, 29);
}

.bg-orange{
	background-color:  rgb(233, 114, 29);
}

.border-orange{
	border-color:  rgb(233, 114, 29) !important;
}

/* ACTIVE NAV LINK */
.nav-underline .nav-link.active {
	border-bottom: 3px solid rgb(233, 114, 29) ;
}
