.fs-12 {
	font-size: 12px;
}

.header-logo > a > img{
	width: 170px;
	height: 100px;
}

.input-group {
	width: 800px;
}

.banner-img {
	width: 100%;
	height: 300px;
}

.text-orange {
	color: rgb(233, 114, 29);
}

.most-searched a,
.header-widget a {
	color: #000;
}

.dropdown-menu > li > .dropdown-item::before {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: rgb(114, 110, 110);
	border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
}

.dropdown-menu > li > .blue::before {
	background-color: rgb(77, 166, 224);
}

.dropdown-menu > li > .green::before {
	background-color: rgb(77, 224, 126);
}

.dropdown-menu > li > .pupple::before {
	background-color: rgb(224, 77, 180);
}

.dropdown-menu > li > .dropdown-item-close::before {
	content: "";
	width: 10px;
	height: 10px;
	position: absolute;
	top: 50%;
	left: 0;
	border-top: 2px solid black;
}
.dropdown {
	width: 350px;
	max-width: 350px;
}
.openChevron {
	rotate: -180deg;
	transition: all 0.4s ease-in-out;
}
.closeChevron {
	rotate: 0;
	transition: all 0.4s ease-in-out;
}
.bg-chevron-icon {
	display: inline-block;
	background-color: rgb(233, 114, 29);
	color: white;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	text-align: center;
}

/*BANNER WRAPPER  */
.banner-wrapper-item{
	width: 100%;
	height: 300px;
}

.banner-item .content-overlay .content-title{
	font-size: 20px;
	font-weight: 600;
	line-height: 23px;
}
 .banner-item .content-overlay .content-readmore .btn:hover{
	background-color: rgb(216, 62, 62);
	border: unset;
}

.banner-item .content-overlay .content-readmore:hover .btn .bg-chevron-icon{
	color: black;
	background-color: white;
}

.banner-item:nth-child(2) .content-overlay{
	right: 10%;
	left: unset;
}

/* PANEL CATEGORY */

.heading-1{
	font-size: 30px;
}

.panel-head{
	margin-bottom: 2em;
}

.img-scaledown{
	width: 200px;
	height: 150px;
	background-color: rgba(243,243,243,255);
}

.card-infor .content-readmore .btn:hover{
	background-color: rgb(15, 15, 15);
	border: unset;
	color: white;
}

/* PANEL ADVERTISE */

.img-advertise{
	width: 100%;
	height: 350px;
	overflow: hidden;
}

.img-advertise > img{
	width: 100%;
	height: 100%;
	transition: all 0.4s ease-in-out;
}

.img-advertise > img:hover{
	transform: scale(1.2);
}

.advertise-item > .content-overlay > .content-readmore > .btn:hover{
	background-color: rgb(15, 15, 15);
	border: unset;
	color: white;
}

/* PANEL PRODUCT */
.product-item > a > img {
	width: 100%;
	height: 250px;
}

/* PANEL PRODUCT */
.special-offer > .heading-1 {
	font-size: 25px;
	font-weight: 600;
}
.special-offer > .heading-1 > span::after{
	content: '';
	background-color:  rgb(233, 114, 29);
	width: 5px;
	height: 5px;
	bottom: 5px;
	position: absolute;
	border-radius: 50%;
}

.product-sold > .progress  {
	height: 10px;
}

.countdown-time > .list-inline> .list-inline-item > .countdown-value{
	width: 35px;
	height: 35px;
}

.swiper-slide > .product-item > .product-toolbox {
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.swiper-slide > .product-item:hover > .product-toolbox {
    opacity: 1;
    transform: translateY(-20px);
}
.product-toolbox > div > .toolbox-item:hover{
	background-color:  rgb(233, 114, 29);
	border-radius: 50%;
	text-align: center;
	color: #ffffff !important;
	width: 32px;
	height: 32px;
}

.tab-content-product > .product-item > .product-countdown{
	margin-top: 0 !important;
	transition: opacity 0.4s ease-in-out;
	opacity: 1;
}

.tab-content-product > .product-item > .product-countdown .d-flex{
	margin-top: 0 !important;
	justify-content: center !important;
}


.tab-content-product > .product-item > .product-countdown > .d-flex > .countdown-text {
	display: none;
}

.tab-content-product > .product-item > .product-countdown > .d-flex > .countdown-time > ul {
	margin-bottom: 0;
}

.tab-content-product > .product-item > .product-countdown > .d-flex > .countdown-time > ul > li > .countdown-type {
	font-size: 10px !important;
	text-align: center;
	position: absolute;
	bottom: 5px;
	left: 50%;
	transform: translateX(-50%);
}

.tab-content-product > .product-item > .product-countdown > .d-flex > .countdown-time > ul > li > .countdown-value {
	background-color: transparent;
	color: rgb(233, 114, 29) !important;
	border: 1px solid rgb(233, 114, 29);
	font-size: 14px !important;
	text-align: center;
	width: 40px;
	height: 40px;
}

.tab-content-product > .product-item > .product-countdown > .d-flex > .countdown-time > ul > li{
	position: relative;
}

.tab-content-product > .product-item > a {
	width: 100%;
	height: 200px;
	display: block;
	position: relative;
}

.tab-content-product > .product-item > a > img {
	width: 100%;
	height: 100%;
	position: absolute;
}

.tab-content-product > .product-item > a > .img-default {
	opacity: 1;
	transition: all 0.4s ease-in-out ;
}

.tab-content-product > .product-item > a > .img-hover {
	opacity: 0;
	transition: all 0.4s ease-in-out ;
}

.tab-content-product > .product-item > a:hover  > .img-default{
	opacity: 0;
}

.tab-content-product > .product-item > a:hover > .img-hover{
	opacity: 1;
}

.tab-content-product > .product-item:hover > .product-countdown {
	opacity: 0;
	visibility: hidden;
}

.tab-content-product > .product-item:hover > .product-toolbox {
	opacity: 1;
	visibility: visible;
	transform: translateY(-30px);
}

.tab-content-product > .product-item > .product-toolbox {
    opacity: 0;
    transition: all 0.4s ease-in-out;
	visibility: hidden;
}

.tab-content-product > .product-item > .product-toolbox > div > a {
	font-size: 18px !important;
}

.tab-content-product > .product-item > .product-toolbox > div {
	gap: 12px !important;
	margin-top: 0 !important;
}

.tab-content-product > .product-item > .product-toolbox {
	margin-top: 0 !important;
}


.tab-content-product > .product-item > .product-toolbox > div > .toolbox-item:hover{
	width: 25px;
	height: 25px;
}

.tab-content-product > .product-item > .infor > .product-price > div > .price-main {
	font-size: 14px !important;
}
.tab-content-product > .product-item > .infor > .product-price > div > .price-sale {
	font-size: 18px !important;
}

/* PANEL BANNER */

.panel-banner > div > span > img {
	width: 100%;
	height: 380px;
}
/* PANEL CATERGORIES */
.categories-children > div > a:hover {
	border: 1px dotted black;
}
.freemode .swiper-pagination-bullet{
	background-color: rgb(233, 114, 29);
}

.freemode >.swiper-wrapper >.swiper-slide > .product-item > .product-countdown{
	margin-top: 0 !important;
	transition: opacity 0.4s ease-in-out;
	opacity: 1;
}

.freemode >.swiper-wrapper >.swiper-slide > .product-item > .product-countdown .d-flex{
	margin-top: 0 !important;
	justify-content: center !important;
}


.freemode >.swiper-wrapper >.swiper-slide > .product-item > .product-countdown > .d-flex > .countdown-text {
	display: none;
}

.freemode >.swiper-wrapper >.swiper-slide > .product-item > .product-countdown > .d-flex > .countdown-time > ul {
	margin-bottom: 0;
}

.freemode >.swiper-wrapper >.swiper-slide > .product-item > .product-countdown > .d-flex > .countdown-time > ul > li > .countdown-type {
	font-size: 10px !important;
	text-align: center;
	position: absolute;
	bottom: 5px;
	left: 50%;
	transform: translateX(-50%);
}

.freemode >.swiper-wrapper >.swiper-slide > .product-item > .product-countdown > .d-flex > .countdown-time > ul > li > .countdown-value {
	background-color: transparent;
	color: rgb(233, 114, 29) !important;
	border: 1px solid rgb(233, 114, 29);
	font-size: 14px !important;
	text-align: center;
	width: 40px;
	height: 40px;
}

.freemode >.swiper-wrapper >.swiper-slide > .product-item > .product-countdown > .d-flex > .countdown-time > ul > li{
	position: relative;
}

.freemode >.swiper-wrapper >.swiper-slide > .product-item > a {
	width: 100%;
	height: 200px;
	display: block;
	position: relative;
}

.freemode >.swiper-wrapper >.swiper-slide > .product-item > a > img {
	width: 100%;
	height: 100%;
	position: absolute;
}

.freemode >.swiper-wrapper >.swiper-slide > .product-item > a > .img-default {
	opacity: 1;
	transition: all 0.4s ease-in-out ;
}

.freemode >.swiper-wrapper >.swiper-slide > .product-item > a > .img-hover {
	opacity: 0;
	transition: all 0.4s ease-in-out ;
}

.freemode >.swiper-wrapper >.swiper-slide > .product-item > a:hover  > .img-default{
	opacity: 0;
}

.freemode >.swiper-wrapper >.swiper-slide > .product-item > a:hover > .img-hover{
	opacity: 1;
}

.freemode >.swiper-wrapper >.swiper-slide > .product-item:hover > .product-countdown {
	opacity: 0;
	visibility: hidden;
}

.freemode >.swiper-wrapper >.swiper-slide > .product-item:hover > .product-toolbox {
	opacity: 1;
	visibility: visible;
	transform: translateY(-30px);
}

.freemode >.swiper-wrapper >.swiper-slide > .product-item > .product-toolbox {
    opacity: 0;
    transition: all 0.4s ease-in-out;
	visibility: hidden;
}

.freemode >.swiper-wrapper >.swiper-slide > .product-item > .product-toolbox > div > a {
	font-size: 18px !important;
}

.freemode >.swiper-wrapper >.swiper-slide > .product-item > .product-toolbox > div {
	gap: 12px !important;
	margin-top: 0 !important;
}

.freemode >.swiper-wrapper >.swiper-slide > .product-item > .product-toolbox {
	margin-top: 0 !important;
}


.freemode >.swiper-wrapper >.swiper-slide > .product-item > .product-toolbox > div > .toolbox-item:hover{
	width: 25px;
	height: 25px;
}

.freemode >.swiper-wrapper >.swiper-slide > .product-item > .infor > .product-price > div > .price-main {
	font-size: 14px !important;
}
.freemode >.swiper-wrapper >.swiper-slide > .product-item > .infor > .product-price > div > .price-sale {
	font-size: 18px !important;
}
 /* PANEL CATEGORIES */
.panel-head > .d-flex > .categories-children > div > a:hover{
	border: 2px dashed rgb(233, 114, 29);
}

.panel-head > .d-flex > .categories-children > div > .active{
	border: 2px dashed rgb(233, 114, 29);
}

/* PANEL BRAND */
.brand-item > span > img {
	width: 100%;
	height: 150px;
}

/* FOOTER*/
.footer-information > .logo > a > img {
	width: 75px;
	height: 50px;
}

.footer-information > .social > .d-flex > a {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 3px;
}
 
/* RESPONSIVE */
/*1920, 1280, 1080, 1024, 800, 768, 736, 600, 415, 375 */
@media (max-width: 1280px) {
	.input-group {
		width: 700px;
	}
	.img-scaledown{
		width: 180px;
		height: 120px;
	}
	.tab-content-product > .product-item > .product-countdown > .d-flex > .countdown-time > ul > li > .countdown-value {
		width: 35px;
		height: 35px;
		font-size: 12px !important;
	}
	.tab-content-product > .product-item > .product-countdown > .d-flex > .countdown-time > ul > li > .countdown-type {
		font-size: 8px !important;
	}
}

@media (max-width: 1240px) {
	.input-group {
		width: 600px;
	}
	.product-item > a > img {
		width: 100%;
		height: 200px;
	}
}

@media (max-width: 1080px) {
	.input-group {
		width: 500px;
	}
	.dropdown {
		width: 250px;
		max-width: 250px;
	}
	.dropdown-menu > li > .dropdown-item-close::before {
		left: -40px;
	}
	.brand-item > a > img {
		width: 100%;
		height: 100px;
	}
	.panel-brand >	.containter-fluid > .panel-body {
		margin-top: unset !important;
	}
}

@media (max-width: 800px) {
	.header-logo > a > img {
		width: 120px;
		height: 75px;
	}
	.input-group {
		width: 450px;
	}

	.content-overlay .content-title {
		font-size: 36px;
		line-height: 39px;
	}

	.banner-item .content-overlay .content-title {
		font-size: 16px;
		line-height: 19px;
	}
	.slide-img {
		height: 450px;
	}
	.swiper {
		height: 450px;
	}

	.banner-img {
		height: 250px;
	}

	.infor .title {
		font-size: 16px;
	}

	.infor .description {
		font-size: 12px;
	}

	.heading-1{
		font-size: 20px;
	}

	.card-infor .title > a {
		font-size: 16px !important;
	}

	.card-infor .list > li> a {
		font-size: 12px !important;
	}

	.img-advertise{
		height: 250px;
	}

	.img-scaledown{
		width: 170px;
		height: 120px;
	}

	.advertise-item > .content-overlay > .content-description{
		font-size: 14px;
	}
	.advertise-item > .content-overlay > .content-title{
		font-size: 20px;
		line-height: 23px;
	}
	.panel-brand > .containter-fluid > .panel-body > .freemode {
		height: fit-content;
	}
}

@media (max-width: 768px) {
	.header-search .most-searched {
		width: 480px;
	}

	.input-group {
		width: 550px;
	}

	.header-logo > a > img {
		width: 200px;
		height: 120px;
	}

	.card-infor .content-readmore > a >span:nth-child(1){
		font-size: 12px;
	}

	.bg-chevron-icon {
		width: 20px;
		height: 20px;
		font-size: 12px;
	}

	.advertise-item > .content-overlay > .content-readmore > .btn{
		font-size: 12px;
	}
}

@media (max-width: 736px) {
	.nav .nav-item .nav-link:nth-child(1) {
		padding-left: 0;
	}
}

@media (max-width: 600px) {
	.input-group {
		width: 400px;
	}

	.header-middle .header-search .most-searched {
		display: none;
	}
	.img-advertise{
		height: 200px;
	}
	.advertise-item > .content-overlay > .content-description{
		font-size: 12px;
	}
	.advertise-item > .content-overlay > .content-title{
		font-size: 16px;
		line-height: 19px;
	}
}

@media (max-width: 415px) {
	.input-group {
		width: 320px;
	}

	.slide-img {
		height: 250px;
	}

	.swiper {
		height: 250px;
	}

	.banner-img {
		height: 250px;
	}
	.content-overlay .content-title {
		font-size: 16px;
		line-height: 19px;
	}

	.img-scaledown{
		width: 150px;
		height: 120px;
	}
	.product-wrapper > nav > ul > li > .nav-link > span {
		font-size: 12px !important;
	}
	.panel-categories > .containter-fluid > .panel-body > .freemode {
		height: fit-content;
	}
}

@media (max-width: 375px){
	.product-wrapper > nav > ul > li > .nav-link > span {
		font-size: 11px !important;
	}
}